
.flex-container {  
  margin:auto;
  display: flex;
  width:80%;
  
}
textarea{
  width: 100%;
}
.left-side {
  width:10%;
  background-color: #F5F5F5;
}
.main {
  width:80%;
  overflow-y: auto;
}
.right-side {
  width:10%;
  background-color: #F5F5F5;
}
.submit-question{
  background-color: rgba(0,0,0,0.1);
}

/*left container*/
.sidenav {
  z-index: 1;
  
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  color: black;
  display: block;
}

.sidenav a:hover {
  color: #B0C4DE;
}


.sidenav1 {
  z-index: 1;
  
}

.sidenav1 a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 17px;
    font-family: "Times New Roman", Times, serif;
  text-align: justify;
  font-weight: bold;
  color: black;
  display: block;
}

.sidenav1 a:hover {
  color: #B0C4DE;
}
